<%= erb :_header %>

<h1><%= @survey.title %></h1>
<% counter = 1 %>
<form class="take-survey" action="/results/create" method:"post">
<% @survey.questions.each do |question| %>
	<div class ="question_<%= question.id %>">
	<h2><%= "#{counter}. #{question.text}" %></h2>
		<select name="question_<%= question.id %>">
			<% question.choices.each do |choice| %> 
	  		<option value= "<%=choice.id%>"> <%=choice.text%> </option>
		  	<% end %>
		</select>

		<button class="vote-button" type="button" value="Vote">Vote</button>
	</div>
			<% counter +=1 %>		
<% end %>
</form>
<a href="/"><button class="new-survey" type="button" value="Take another survey">Take another survey!</button></a>
	
	